section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 18%;
    border: 1px solid $primaryGrey;
    margin-bottom: 40px;
    overflow: hidden;
    h5 {
      background: linear-gradient($primaryLight);
      color: $primaryDark;
      font-weight: 300;
      padding: 20px 10px;
      font-size: 1rem;
      border-bottom: 1px solid $primaryDark;
    }
    ul {
      list-style: none;
      position: relative;
      li {
        height: 7 * 4px;
      }
    }
    li:nth-child(even):not(.event):not(.timeBar) {
      background-color: $primaryGrey;
    }
    .event {
      position: absolute;
      overflow: hidden;
      width: 100%;
      background: linear-gradient($event, $secondaryEvent);
      font-weight: 200;
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      p {
        text-align: center;
        span {
          font-weight: 300;
        }
      }
    }
    .timeBar {
      position: absolute;
      z-index: 50;
      height: 0px;
      width: 100%;
      border-bottom: 3px solid green;
    }
  }
}
