section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 18%;
    border: 1px solid $primaryGrey;
    margin-bottom: 20px;
    h5 {
      background-color: $primaryColor;
      color: $primaryLight;
      font-weight: 400;
      padding: 20px 10px;
      font-size: 1rem;
    }
    ul {
      list-style: none;
      li {
        height: 7px;
      }
    }
    li:nth-child(8n),
    li:nth-child(8n-1),
    li:nth-child(8n-2),
    li:nth-child(8n-3) {
      background-color: $primaryGrey;
    }
  }
}
