@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400");

$primaryDark: #000000;
$primaryLight: #ffffff;
$primaryGrey: #d2d2d2;
$event: #caffa3;
$secondaryEvent: #b9ff8a;
$darkGreen: green;
@import "header";
@import "selector";
@import "roomlist";
@import "disputas";

body,
html,
#root {
  height: 100%;
}

#root {
  margin: 0px 5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
